@import "../../../Style/variables";

.title{
    color: $yellow-text;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0;
    text-align: left;
    height: 1em;
    margin-top: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
    background-color: $grey-background-color;
    border-bottom: 1px solid #B4B4B4;
    font-family: 'Poppins', sans-serif ;

};
.subtitle{
    color: $yellow-text;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0;
    text-align: left;
    height: 1em;
    margin-top: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
    font-family: 'Poppins', sans-serif ;
}
.btnDownload {
    background-color: #0051CC !important;
    border-radius: 10px !important;
    
    font-size: 1em !important;
    color: #ffffff !important;
    padding: 0.7em 1.2em !important;
    border: none !important;
    height: 50px !important;
    
    font-family: 'Poppins', sans-serif  !important;
};
.dateP{
    display: inline-block !important;
    padding: 10px !important;
    margin-bottom: 10px !important;
    border: 0 !important;

}