.custom-input::placeholder {
    color: #D48D1F !important; 
  }

  
.btn-orange {
    background-color: #D48D1F !important;
    border-color: #D48D1F !important;
    color: white !important;
}

.form-container {
    display: flex;
    min-height: 100vh;
}

.form-row {
    flex-grow: 1;
}

.logo-col {
    background-color: #fff;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-col {
    background-color: #F7F9FB;
    padding: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.login-form {
    width: 50%;
    margin: 0 auto;
}

.martillo {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

@media (min-width: 768px) {
    .martillo {
        display: block;
    }
}

.enFacil {
    margin-left: 1em;
    margin-bottom: 1em;
    width: 3vw;
    max-width: 100%;
}

.LegalContLogo {
    width: 20vw;
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
    .LegalContLogo {
      width: 70vw; 
    }
  }

  .custom-icon {
    background-color: white; 
    color: #D48D1F; 
  }
