@import '../_variables';
@import '../Buttons/DetailsButtons.scss';

.details-card {
    position: relative;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 60rem; 
    margin: 1rem;
    padding: 19px; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: $primary-font;
    font-weight: 500;
    line-height: 16px;

    
    .entity-content {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      .entity-image img {
        height: 7em;
        margin-bottom: 1rem;
        margin-right: 10px;
      }

      .entity-inside-card {
        margin-top: 30px;
        flex: 1;
        background-color: $text-area;
        padding: 13px;
        border-radius: 10px;
        .entity-main-info {
          .entity-name {
            color: $black-text;
            font-size: 36px;
            margin-bottom: 0px;
          }
          .entity-rut {
            color: $grey-text;
            font-size: 17px;
            margin-bottom: 2px;
          }
          .entity-address {
            color: $active-text;
            font-size: 17px;
          }
        }

        .entity-second-info {
          color: $grey-text;
          font-size: 14px;
        }
      }

      .assigned-user {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        .user-item {
          display: flex;
          align-items: center;
          background-color: #fff;
          border-radius: 10px;
          padding: 5px 10px;
          margin-right: 10px;
          margin-bottom: 10px;

          .user-name {
            align-items: center;
            color: $black-text;
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 10px;
            font-size: 14px;
          }
        }
      }

      .entity-detail-date {
          position: absolute;
          top: 0;
          right: 0;
          margin-right: 5px;
          margin-top: 5px;
        .date-color{
          font-weight: 400;
          color: $grey-text;
          font-size: 1rem;
        }
      }
    }

    .details-task-info {
      padding-left: 0px;
      color: $black-text;
      .tasks-icon {
        width: 60px;
        height: 81px;
      }
      .badge-custom {
        margin-bottom: 10px;
      }
      .main-info {
        padding-bottom: 33px;
        .date-task-area {
          margin-right: 10px;
          width: 64px;
        }
        .contract-header
        {
          font-weight: 500;
          line-height: 16px;
          .contract-type {
            font-size: 36px;
          }

          .contract-title {
            font-size: 23px;
          }
        }
        .user-name {
          color: $active-text;
        }
      }
      .client-info {
        .client-name h5 {
          margin-bottom: 0; 
        }
        .client-name h4 {
          margin-bottom: 0; 
        }

        .client-address p {
          margin-top: 0;
          color: $grey-text;
        }
        .client-name {
          color: $active-text; 
        }
      }
    .text-box {
      background-color: $text-area; 
      height: 200px;
      border-radius: 4px; 
      padding-top: 19px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;
      margin-top: .5rem; 
      white-space: pre-wrap; 
    }
  }

  .text {
    color: $black-text;
  }
    
  .entity-status .status-indicator {
    font-size: 1rem; 
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    border-radius: 0.625rem; 
    display: inline-block;
  }
    
  .status-indicator.active {
    background-color: #C8E6C9;
    color: #256029;
  }
    
  .status-indicator.inactive {
    background-color: #FFCDD2;
    color: #C63737;
  }


  .btn-details {
    @extend %btn-details;
  }

  .message-color {
    background-color: $whatsapp-button; 
  }

  .edit-color {
    background-color: $dark-blue-button;
  }

  .entity-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: v-bind(gap-value);
  }



  .text-box {
    background-color: #F2F5FC;
    height: 200px;
    border-radius: 10px; 
    padding: 1rem;
    margin-top: .5rem; 
    white-space: pre-wrap; 
  }
}
