@import '../_variables.scss';

.finish-button {
  display: flex;
  align-items: center;

  .text-finish {
    line-height: 16px;
    width: 75px;
    justify-text: left;
  }

  .icon-finish {
    width: 30px;
    margin-right: 11px;
    color: white;
  }
}


.btn-finish {
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .btn-inside-text-disable,
  .btn-inside-text {
    line-height: 16px;
    width: 50px;
  }
  .btn-inside-text-disable {
    width: 100px;
  }
  .icon-edit {
    height: 28px; 
    width: 28px;
    margin-right: 11px;
    color: white;
  }
}

