

// Colors
$active-color: #22C58A;
$inactive-color: #FF4D4D;  
$blue-color: #0051CC;
$grey-color: #939393; 
$text-area: #F2F5FC;

// Text
$active-text: #0086FF;
$grey-text: #868686;
$black-text: #505050;

// Buttons
$grey-button: #505050;
$blue-button: #0086FF;
$red-button: #FF4D4D;
$crear-button: #22C58A;
$whatsapp-button: #000;

// Fonts
$primary-font: 'Poppins', sans-serif;

