


// Colors
$active-color: #22C58A;
$inactive-color: #FF4D4D;  
$blue-color: #0051CC;
$grey-color: #939393; 
$text-area: #F2F5FC;
$active-text: #0086FF;


// Buttons
$grey-button: #505050;
$blue-button: #0086FF;

// Fonts
$primary-font: 'Poppins', sans-serif;

