// Colors
$active-color: #22C58A;
$inactive-color: #FF4D4D;  
$grey-color: #939393; 
$text-area: #F2F5FC;

$histories-date-color-active: #DCA858; 
$histories-date-color-inactive: #ACACAC; 


// Background colors
$grey-background-color: #faf7fb;

// Text
$active-text: #0086FF;
$grey-text: #868686;
$black-text: #505050;
$yellow-text: #D48D1F;

// Buttons
$grey-button: #505050;
$blue-button: #0086FF;
$dark-blue-button: #0051CC;
$yellow-button: #D48D1F;
$light-grey-button: #939393;
$red-button: #FF4D4D;
$crear-button: #22C58A;
$whatsapp-button: #000;

// Fonts
$primary-font: 'Poppins', sans-serif;

