.no-border {
  border: none !important;
  border-bottom: none !important;
}

.custom-form-group {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.custom-form-control {
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: start;
}

.my-auto {
  margin-right: 1rem;
}

.custom-checkbox-larger input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  border: 3px solid #D7DDE6;
  cursor: pointer;
  margin-right: 1rem;
  box-shadow: none;
}

.custom-checkbox-larger input[type="checkbox"]:focus {
  border-color: #0d6efd;
}