.UserIconTable--active {
  color: #0086FF !important;
}

.UserIconTable--inactive {
  color: #FF0000 !important;
}

.color--active {
  color : #22C58A;
}

.color--inactive {
  color : #FF4D4D; 
}

.icon-button {
  height: 1em;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
