.custom-search-button {
  color: #D48D1F !important;
  background-color: transparent !important;
  border: none !important;
}

.table-edit-button {
  background-color: #f0f0f0;
  color: #505050 !important;
  height: 5.1em !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  font-size: 1.12em !important;
}

.ver-button {
  background-color: #0051CC !important;
  border-top-right-radius: 1em !important;
  border-bottom-right-radius: 0% !important;
  border-top-left-radius: 0 !important;
  font-size: 1em !important;
  border-bottom-left-radius: 0 !important;
  color: #ffffff !important;
}

.table-enable-button,
.table-disable-button {
  border-top-right-radius: 0% !important;
  border-bottom-right-radius: 1em !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  font-size: 1em !important;
  color: #ffffff !important;
}

.table-disable-button {
  /* background-color: #939393 !important; */
  background-color: #FF4D4D !important;
  
}

.table-enable-button{
  background-color: #05B072 !important;
}

.button-with-line {
  position: relative; 
  padding-left: 20px; 
}

.button-with-line::before {
  content: ""; 
  position: absolute; 
  left: 0; 
  top: 0; 
  bottom: 0; 
  width: 2px; 
  background-color: grey; 
}

/* ------------- Details buttons ------------- */

.details-edit-button,
.details-enable-button,
.details-disable-button {
  border: none;
  border-radius: 10px !important;
  color: white !important;
}

.details-disable-button {
  background-color: #FF4D4D !important;
}

.details-enable-button{
  background-color: #05B072 !important;
}

.details-edit-button{
  background-color: #0051CC !important;
}

/* ------------- Details buttons ------------- */

.table-edit-button,
.ver-button,
.table-enable-button,
.table-disable-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  padding: 0.7em 1.2em !important;
  border: none !important;
}

button:hover {
  opacity: 0.5;
}

.multiButtonContainer {
  display: flex;
  align-items: center;
}

.editButton {
  margin-right: 10px;
}

.viewDisableButtonsContainer {
  width: 100%;
}

.viewButton,
.disableButton {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
