@import './variables';

$navbar-height: 6em;
$hover-text-color: white;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  width: 220px;
  padding-left: 3em;
  flex-shrink: 0;
  transition: width 0.3s ease;

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

    &:hover {
      background-color: $yellow-text;
      color: $hover-text-color;
      text-decoration: none;
    }

    &.active {
      background-color: $yellow-text;
      color: $hover-text-color;
    }
  }

  .nav-text {
    white-space: nowrap;
  }

  .sidebar-icon {
    width: 22px;
    height: auto;
    margin-right: 5px;
  }

  ul {
    padding: 0;

    li {
      .nav-link {
        display: flex;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;

        &:not(.active):hover {
          background-color: $yellow-text;
          color: $hover-text-color;
          text-decoration: none;
        }
      }

      .active {
        background-color: $yellow-text;
        color: $hover-text-color;
      }
    }
  }

  .LegalContSideBar {
    margin-top: 2rem;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    width: 80px;
    padding-left: 1em;

    .nav-text {
      display: none;
    }

    .nav-link {
      justify-content: center;

      svg {
        margin: 0;
      }
    }

    ul li .nav-link {
      justify-content: center;
      padding: 0.5rem;
    }

    .LegalContSideBar {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    padding-left: 0.5em;
  }
}