body {
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  max-width: 100% !important;
}

/* Estilos para botones tabla*/
.placeholder-tarea::placeholder {
  color: #D48D1F !important;
}

.d-grid {
  margin-left: 0;
  width: 100%;
}

.icon-spacing {
  margin-right: 1em;
}



/* Estilos para tablas */

.table-responsive {
  margin-left: 3% !important;
}

.table th,
.table td {
  text-align: left;
  background-color: #F7F9FB;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 500 !important;
  height: 5em;
  width: 10em;
}

.table-header th {
  color: #D48D1F !important;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0;
  text-align: left;
  height: 1em;
  background-color: #faf7fb !important;
  border-bottom: 1em solid #faf7fb !important;
}

.table-body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  line-height: 5rem;
  letter-spacing: 0;
}

.content table{ 
    border-collapse: separate; 
    border-spacing: 0 10px; 
    margin-top: -10px;
}
.content td {
    border: solid 1px #fff;
    border-style: solid none;
    padding: 10px;
}
.content td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
.content td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

.row.filter-container {
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-top: 1rem;
}

.search-bar {
  flex-grow: 1;
  max-width: calc(24em - 0.5rem) !important;

}

.status-filter{
  max-width: calc(13em - 0.5rem) !important;
  margin-left: 15em;
}

.date-picker-filter {
  max-width: calc(6em) !important;
  margin-left: auto;
}

.vigency {
  font-family: 'Poppins', sans-serif !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  text-align: center !important;
  border: none !important;
}

.vigency--active {
  background-color: #22C58A !important;
}

.vigency--inactive {
  background-color: #FF4D4D !important; 
}

.centeredDiv {
  display: table-cell;
  vertical-align: middle;
}

.multilineText{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 1em;
}

.table-responsive {
  background-color: #F7F9FB;
  margin-left: -12vw;
}

/* sidebar botones, elementos */
.botonTarea {
  background-color: #22C58A !important;
  color: #fff;
  padding: 2.1em !important;
  width: 85% !important;
  align-items: center !important;
  justify-content: center;
  border: none !important;
  border-top-left-radius: 0.6em !important;
  border-top-right-radius: 0.6em !important;
  border-bottom-left-radius: 0.6em !important;
  border-bottom-right-radius: 0.6em !important;
  font-size: 1.20em !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
}

.botonTarea svg {
  margin-right: 0.5em;
}
