// Variables
$s-primary: #111111;
$bg-body: #f8f9fa;
$light: #ffffff;
$gray: #c4ccde;
$nav-search-color: #d48d1f;
$nav-salir-color: #0051cc;
$sidebar-link-color: #d48d1f;

// Global styles
body,
html {
  background-color: $bg-body !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.content {
  background-color: #f7f9fb;
}

.main-content {
  padding-top: 8em;
}


// Sidebar styles
.sidebar {
  ul {
    width: 100%;
    list-style: none;
    padding: 1.2em;

    li {
      margin-bottom: 0.15em;

      a {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-size: 1.2em;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.025em;
        color: $sidebar-link-color !important;
        margin-bottom: 0.8125em;
        text-align: left;

        &.active {
          background-color: transparent;
          color: $sidebar-link-color;
        }
      }
    }
  }


  .LegalContSideBar {
    position: absolute;
    margin-top: 10%;

    img {
      width: 73px;
      display: flex;
    }
  }
}